<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SALEntities" connectionString="metadata=res://*/SALModel.csdl|res://*/SALModel.ssdl|res://*/SALModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FRED-PC\SQLEXPRESS;initial catalog=SAL;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>